@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14px;
}
#header1-1 H1 {
  text-align: left;
  font-size: 36px;
}
#header1-1 P {
  font-size: 25px;
}
#content5-3 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 36px;
}
#content5-3 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-3 .mbr-article {
  color: #fff;
}
#content5-3 .mbr-article P {
  text-align: center;
  font-size: 21px;
}
#features1-4 .mbr-section__col .mbr-header__text {
  font-size: 24px;
}
